<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pong">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".aisupportactivity"
            android:configChanges="orientation|screenSize|screenLayout"></activity>
        <activity android:name=".finalactc" />
        <activity android:name=".finalact" />
        <activity
            android:name=".supportactivity"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>